/*
 * Cascading stylesheet for GNU Emacs org mode
 * Jishnu Rajendran - June 2024
 * Inspired from Nicolas P. Rougier
 * Released under a Creative Commons CC-BY 4.0 licence
 */

@charset "utf-8";
@import "https://www.nerdfonts.com/assets/css/webfont.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: rgba(51, 51, 51, 1);
    line-height: 1.4em;
    font-weight: regular;
    counter-reset: section;
    counter-reset: toc-section;
    counter-increment: toc-section;
}

header {
    background-color: #e5e9f0;
    padding: 1rem;
}

nav {
    text-align: center;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    max-width: 600px;
    margin: 0 auto;
}

.nav-links a {
    color: #434c5e;
    text-decoration: none;
    padding: 0.5rem 1rem;
    flex: 1;
    border: 1px solid #4c566a;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.nav-links a:hover {
    background-color: #eceff4;
    box-shadow:
        1px 1px #5e81ac,
        2px 2px #5e81ac,
        3px 3px #5e81ac;
    transform: translateX(-3px);
}

a,
a:visited {
    text-decoration: none;
    color: rgba(48, 63, 159, 1);
}
.org-bold {
    font-weight: 400;
}
i,
i a {
    color: #467174;
    font-style: italic;
}
.org-italic {
    font-style: italic;
}

.org-org-meta-line {
    color: rgba(48, 63, 159, 0.75);
    font-style: normal;
}
.org-face-salient {
    font-weight: 400;
}

/* Blinking cursor when strike-through */
.custom {
    animation: blinker 1s linear infinite;
}
@keyframes blinker {
    50% {
        opacity: 0;
    }
}

/* --- Side notes --- */
div.side-note::before {
    content: "Note";
    color: rgba(0, 0, 0, 0.75);
    font-weight: 400;
}
div.side-note {
    color: rgba(0, 0, 0, 0.5);
    float: left;
    font-size: 0.85em;
    line-height: 1.25em;
    margin-left: -24em;
    width: 20em;
}

/* --- Table of contents --- */
#table-of-contents {
    padding-top: 0em;
    margin-top: 0em;
    text-transform: uppercase;
}
#table-of-contents ul {
    padding: 0;
    font-weight: 400;
    list-style: none;
    counter-reset: list 0;
}
#table-of-contents ul ul {
    padding-left: 0em;
    font-weight: 300;
    font-size: 90%;
    line-height: 1.5em;
    margin-top: 0em;
    margin-bottom: 1em;
    padding-left: 2em;
}
#table-of-contents h2:before {
    content: "";
    counter-reset: section;
}
#table-of-contents ul li {
    vertical-align: top;
    display: inline-block;
    width: 32%;
}
#table-of-contents ul li:before {
    display: inline-block;
    counter-increment: list;
    content: counters(list, ".") ".";
    width: 2em;
    margin-left: -2em;
    text-align: right;
    text-transform: uppercase;
    color: #2255bb;
}
#table-of-contents ul li ul,
#table-of-contents ul li ul li {
    display: static;
    width: 100%;
    padding-left: 0;
    line-height: 1.35em;
}
#table-of-contents ul li ul li:before {
    content: "";
}
#table-of-contents h2 {
    font-size: 1em;
    font-weight: 400;
    margin-top: 5em;
}
#table-of-contents h2:before {
    content: "";
}

blockquote {
    color: #999999;
    padding-top: 0;
    margin-left: 1em;
    padding-left: 1em;
    border-left: 3px solid #cccccc;
}

ul.org-ul {
    padding-left: 0;
}
ul.org-ul li {
    list-style-type: none;
    margin-bottom: 0.5em;
}

ul.org-ul li p {
    display: inline-block;
    margin-top: 0em;
    margin-bottom: 0em;
}

ul.org-ul li::before {
    display: inline-block;
    content: "— ";
    color: #999999;
    width: 1em;
    margin-left: -1em;
}

ol.org-ol {
    padding-left: 0;
    margin-left: 2em;
    list-style: none;
    counter-reset: li;
}
.org-ol li {
    counter-increment: li;
    margin-bottom: 0.25em;
}
.org-ol li::before {
    content: counter(li) ". ";
    color: #999999;
    display: inline-block;
    width: 2em;
    margin-left: -2em;
}

#content,
#postamble {
    margin: 0 auto;
    max-width: 920px;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

#postamble {
    /*    border-top: 1px solid #999999; */
    padding-top: 1.5em;
}
#postamble p,
#postamble a {
    color: #999999;
    line-height: 1.25em;
    margin: 0;
    text-align: right;
}

h1.title {
    font-size: 1.9em;
    margin-top: 4em;
    margin-bottom: 0em;
    background: #ffffff;
    font-weight: 400;
    text-align: left;
}

span.subtitle {
    display: inline-block;
    margin-top: 0.25em;
    font-size: 74.5%;
    font-weight: 300;
    color: #999999;
}

h1,
h2,
h3,
h4 {
    color: black;
    font-size: 1em;
    font-weight: 400;
    background: #eceff4;
    /* font-variant: all-small-caps; */
    text-transform: uppercase;
}

body {
    counter-reset: section;
}
h2 {
    counter-reset: subsection;
}
h2::before {
    color: #cccccc;
    float: left;
    text-align: right;
    font-weight: 300;
    width: 7.5em;
    margin-left: -8em;
    counter-increment: section;
    content: " " counter(section) " ";
}

h3::before {
    color: #cccccc;
    float: left;
    text-align: right;
    font-weight: 300;
    width: 2.5em;
    margin-left: -3em;
    counter-increment: subsection;
    content: counter(section) "." counter(subsection) " ";
}

code {
    background-color: #f9f9f9;
    font-family: "Roboto Mono", sans-serif;
    font-weight: 400;
}

pre::before {
    color: #cccccc;
    float: left;
    text-align: right;
    font-weight: 300;
    width: 3em;
    margin-left: -4.25em;
    font-variant: small-caps;
    content: "";
}
pre.src-lisp::before {
    content: "lisp";
}
pre.src-org::before {
    content: "org";
}

pre {
    color: #5e81ac;
    background-color: #f5f7f9;
    overflow: auto;
    margin: 0em;
    padding: 0.25em;
    padding-left: 0.5em;
    line-height: 1.35em;
    font-family: "Roboto Mono", sans-serif;
    font-weight: 300;
    border-left: 2px dotted #00008b;
    max-width: 720;
}

pre::before {
    content: "e.g.";
    position: absolute;
    left: -30px;
    top: 0;
    color: #5e81ac;
    font-family: sans-serif;
    font-size: 0.9em;
}

pre.src {
    position: relative;
    overflow: visible;
}

pre.example {
    background-color: #f5f7f9;
}

/* --- Code folding --- */
details {
    color: rgba(48, 63, 159, 1);
    background: #fbfbfb;
    border: 1px solid rgba(48, 63, 159, 1);
    border-radius: 3px;
    padding: 0.25em;
    margin-bottom: 1em;
}
details pre {
    border: 0;
}
details pre.src-lisp::before {
    content: "";
}
summary {
    outline: 0;
    color: rgba(48, 63, 159, 1);
}
summary::after {
    font-size: 0.85em;
    color: rgba(48, 63, 159, 0.25);
    display: inline-block;
    float: right;
    content: "Click to fold/unfold";
    padding-right: 0.5em;
}

/* --- Table --- */
table {
    min-width: 100%;
}
table,
tbody,
td,
tr,
th,
colgroup,
thead {
    border: 0;
    /*    padding: 0;*/
}
table {
    margin-top: 1em;
}
thead {
    border-bottom: 1px dashed black;
}
th {
    text-align: left;
    font-weight: 400;
    padding: 0;
    margin-bottom: 0.25em;
    padding-bottom: 0.25em;
}
td {
    padding: 0;
}

tr:nth-child(even) {
    background: #f9f9f9;
}
tr:nth-child(odd) {
    background: #ffffff;
}
tbody {
    /* border-bottom: 1px solid black; */
}

/* --- Description list --- */
dd {
    margin-top: 0.25em;
    margin-bottom: 0.5em;
}

/* --- Back links in header --- */
div.back a {
    float: right;
    font-weight: 300;
    color: #cccccc;
    font-variant: small-caps;
    margin-top: -2.5em;
}
/* h2 { border-bottom: .5px solid #999999; } */
div.abstract {
    background: #f9f9ff;
    padding: 0.75em 1em 0.75em 1em;
    line-height: 1.25em;
    font-family: "Roboto Condensed", sans-serif;
    border: 0.5px solid #555599;
    padding-bottom: 0.25em;
}
div.abstract p {
    column-count: 1;
    margin: 0 0 0.5em 0;
}

div.abstract {
    background: #f9f9ff;
    padding: 0.75em 1em 0.75em 1em;
    line-height: 1.25em;
    font-family: "Roboto Condensed", sans-serif;
    border: 0.5px solid #555599;
    padding-bottom: 0.25em;
}
div.abstract p {
    column-count: 1;
    margin: 0 0 0.5em 0;
}

.logo {
    width: 100px; /* Adjust the width to your preference */
    height: auto; /* Maintain aspect ratio */
}

.figure {
    position: relative;
    display: inline-block;
    margin: 1em 0;
    overflow: hidden;
}

.figure img {
    display: block;
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.figure .figure-caption {
    position: absolute;
    bottom: -100%;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 0.5em;
    text-align: center;
    transition: bottom 0.3s ease;
}

.figure:hover .figure-caption {
    bottom: 0;
}

.figure:hover img {
    transform: scale(1.02);
}
